#form-dialog-title {
	text-align: center;
	color: #16d2b7;
}
.appointment_textField {
	margin-bottom: 20px !important;
}
.appointment_textFiled_cancel_btn,
.appointment_textFiled_send_btn {
	width: 100px;
	padding: 10px;
	margin-bottom: 15px;
	border: none;
	border-radius: 3px;
}
.appointment_textFiled_cancel_btn {
	background: #c70404;
	color: white;
}
.appointment_textFiled_send_btn {
	background-image: linear-gradient(to right, #18d3af, #0fcfcb);
	color: white;
}

table {
	width: 900px;
	height: 100%;
	border-collapse: collapse;
}

th {
	border-bottom: 1px solid black;
	border: 2px solid black;
}

td {
	text-align: center;
	border: 2px solid black;
}
@media screen and (max-width: 700px) {
	.appointment_textFiled_cancel_btn {
		width: 5.5rem;
	}
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically. */

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #ccc;
	}
}
