@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins:wght@300;600&display=swap');
.logo_footer {
	height: 50px;

	margin: 0 auto;
	text-align: center;
	align-content: center;

	font-family: 'Ms Madi', cursive;
	font-size: 2.5em;
	margin-bottom: 22px;
}

footer {
	background-color: #2a9d8f;
	padding: 2rem 0;
	text-align: center;
	font-size: 0.8rem;

	bottom: 0;
	left: 0;
	right: 0;
}
footer a,
.footer__copyright {
	color: white;
}
footer a:hover {
	color: #e9c46a;
}
.footer__logo {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 2rem;
	display: inline-block;
}
.permalinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem;
	margin: 0 auto 3rem;
}
.footer__socials {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
	gap: 1rem;
}
.footer__socials a {
	color: white;
	background: #264653;
	font-size: 1.5rem;
	display: flex;
	border-radius: 0.7rem;
	padding: 0.8rem;
	border: 1px solid transparent;
}
.footer__socials a:hover {
	color: #e9c46a;
	background: transparent;
	border-color: rgb(83, 91, 92);
}

/* Media queries(small screen) */
@media screen and (max-width: 600px) {
	.permalinks {
		flex-direction: column;
		gap: 1.5em;
	}
	.footer__socials {
		margin-bottom: 2.5rem;
	}
}
