/* Media queries(small screen)
@media screen and (max-width: 660px) {
	.textContainer {
		margin-top: 22px;
		width: 95%;
		margin-left: 1px;
		line-height: 50px;
	}
	.text_container {
		margin-top: 22px;
		margin: 22px;
		width: 95%;
		margin: 17px;
	}
	.line_wrap {
		left: 14vh;
		position: relative;
	}
}

 

@media screen and (max-width: 1024px) and (min-width: 661px) {
	.textContainer {
		margin-top: 22px;
		width: 95%;
		margin-left: 1px;
		margin: 22px;
	}
	.text_container {
		margin-top: 22px;
		margin: 22px;
		width: 95%;
		margin-left: 11px;
	}
	.line {
		left: 61px;
		position: relative;
	}
}
@media screen and (max-width: 1280px) and (min-width: 1024px) {
	.textContainer {
		margin-top: 22px;
		width: 100%;
		margin-left: 1px;
	}
	.line {
		left: 61px;
		position: relative;
	}
} */
