@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Poppins:wght@300;600&display=swap');
.logo {
	width: 130px;
	height: 55px;
	/* border-radius: 50%; */
	border: 1px solid #662;
	margin: 0 auto;
	background-color: rgb(95, 158, 160);
	text-align: center;
	align-content: center;
	border-radius: 30%;
	font-family: 'Ms Madi', cursive;
	font-size: 1.8em;
}
.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home {
	border: 3px solid #60a5fa;
	display: flex;
	text-align: center;
	align-content: center;
	border-radius: 30%;
	font-family: 'Poppins', sans-serif;
	margin: 3px;
	padding: 10px;
	background-color: rgb(95, 158, 160);
}
.home:hover {
	background-color: #60a5fa;
	color: #fff;
}
